
html{
    scroll-behavior: smooth;
}


*
{
    padding: 0;
    margin: 0;
  
}
.container-fluid 
{
    width: 100%;
}
.container
{
    width: 1050px;
    margin: 0px auto;
    
}

.top
{
    height: 30px;
    background-color: tomato;
}
.info1
{
    float: left;
}
.info2
{
    float: right;
}
.row ul li
{
    display: inline-block;
    padding:5px 20px;
    font-size: 15px;
}
.header
{
    height: 80px;
    
   
}

.logo img
{
   float: left;
   padding-right: 30px;
   padding-top: 25px;
  
      
}
.nav-items
{
    float: left;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-top: 30px;
}
.nav-items ul li
{
    list-style:none;
	display:inline;
	padding:10px 20px;
    padding-top: 15px;
	font-weight: 100px;
	color:rgb(0, 0, 0);
	font-size:13px;
	text-transform:uppercase;
	border-radius:3px;
	
    font-family: 'Lato', sans-serif;        
}
.icons
{
    float: left;
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-bottom: 10px;
    padding-top: 12px;
}
.icons i
{
    
    list-style:none;
	display:inline;
	padding: 20px;

    
}
.hero-img
{
    background-image: url(img/bg.jpg);
}
.hero-img .container
{
    height: 600px;
    position: relative;
}
.hero-img .content
{
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 230px;
    font-family: 'Roboto', sans-serif;
}
.hero-img h5
{
    font-size: 15px;
    color: grey;
    padding-bottom: px;
}
.hero-img h2
{
    font-size: 40px;
    padding-top: 15px;
    line-height: 60px;
    padding-bottom: 20px;
}
.hero-img h6
{
 
	
	display:inline;
	padding:10px 20px;
	background-color:#F05556;
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
	border-radius:3px;
	
}
.hero-img img
{
    height: 600px;
    float: right;
    
 position: absolute;
 top: 0px;
 left: 450px;
}
.bbb
{
    height: 600px;
    display: flex;
    text-align: center;
    justify-content: center ;
    padding-top: 50px;
    
}

.bbb-1 h3
{
    font-size: 25px;
   
    font-weight: 600;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif; 
   
}


.bbb .gallery
{
   text-align: center;
  
}
.bbb .gallery-items
{
    
	
	
	display:inline-block;
    margin: 10px;
    padding-top: 20px;	
}
.bbb h5
{
    font-family: 'Lato', sans-serif; 
    font-weight: 30px;
    padding-top: 10px;
    color: grey;
}
.bbb i
{
    color: rgb(241, 83, 83) ;
    font-size: small;
}
.bbb .gallery-items img
{
    width: 300px;
    height: 380px;
    
}
.banner
{
    background-color: #EAE1D8;
}
.banner .container
{
    height: 500px;
    position: relative;
}
.banner .ban-cont
{
    float: left;
   width: 50%;
    text-align: center;
    padding-top: 180px;
    font-family: 'Roboto', sans-serif;
}
.banner h2
{
    font-size: 80px;
    color: grey;
    padding-bottom: px;
}
.banner h4
{
   font-size: 30px;
    padding-top: 15px;
    line-height: 60px;
    padding-bottom: 20px;
}
.banner h6
{
 
	
	display:inline;
	padding:10px 20px;
	background-color:#F05556;
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
	border-radius:3px;
	
}
.banner img
{
    height: 450px;
    float: right;
    
 position: absolute;
 top: 50px;
left: 550px;
}

.ccc
{
    height: 500px;
    display: flex;
    text-align: center;
    justify-content: center ;
    padding-top: 50px;
    
}

.ccc-1 h3
{
    font-size: 25px;
   
    font-weight: 600;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
   
}


.ccc .gallery
{
   text-align: center;
  
}
.ccc .gallery-items
{
    
	
	
	display:inline-block;
    margin: 10px;
    padding-top: 20px;

	
}
.ccc .gallery-items img
{
    width: 200px;
    height: 280px;
    
}
.ccc h5
{
    font-family: 'Lato', sans-serif; 
    font-weight: 30px;
    padding-top: 10px;
    color: grey;
}
.ccc i
{
    color: rgb(241, 83, 83) ;
    font-size: small;
}

.ddd
{
    height: 150px;
    display: flex;
    text-align: center;
    justify-content: center ;
    padding-top: 40px;
    
    
}
.ddd .icon
{
   text-align: center;
}
.ddd .icon-items
{
	display:inline-block;
    margin: 0px 60px 0px 70px;
}
.ddd .icon-items img
{
    width: 80px;
    padding-bottom: 20px;
}  
.ddd .icon-items h5
{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.ddd .icon-items h6
{
    font-family: 'Lato', sans-serif;
    color: grey;
    padding-top: 10px;
}


.eee
{
    height: 900px;
    display: flex;
    text-align: center;
    justify-content: center ;
    padding-top: 50px;
   
    
    
}

.eee-1 h3
{
    font-size: 25px;
   
    font-weight: 500;
    padding-bottom: 20px;
   
}


.eee .gallery
{
   text-align: center;
  
}
.eee .gallery-items
{
    
	
	
	display:inline-block;
    margin: 10px;
    padding-top: 20px;

	
}
.eee .gallery-items img
{
  
    height: 310px;
    
}
.eee h5
{
    font-family: 'Lato', sans-serif; 
    font-weight: 30px;
    padding-top: 10px;
    color: grey;
}
.eee i
{
    color: rgb(241, 83, 83) ;
    font-size: small;
}

.fff
{
    height: 400px;
    display: flex;
    text-align: center;
    justify-content: center ;
    padding-top: 50px;
    
    
}

.fff-1 h3
{
    font-size: 25px;
   
    font-weight: 500;
    padding-bottom: 20px;
   
}


.fff .gallery
{
   text-align: center;
  
}
.fff .gallery-items
{
    
	
	
	display:inline-block;
    margin: 10px;
    padding-top: 20px;

	
}
.fff .gallery-items img
{
   
    height: 220px;
    
}
.fff h5
{
    font-family: 'Lato', sans-serif; 
    font-weight: 30px;
    padding-top: 10px;
    color: grey;
}
.fff i
{
    color: rgb(241, 83, 83) ;
    font-size: small;
}
.footer
{
    height: 300px;
    background-color: #eee4db;
    font-family: 'Lato', sans-serif;
}
.fot-cont
{ margin: 20px;
   
}

.column1 {
    float: left;
    width: 25%;
   padding-top: 50px;
    height: 300px;
    
   
  }
  .column2 {
    float: left;
    width: 25%;
    height: 300px;
    padding-top: 50px;
    
    
  }
  
  .column3 {
    float: left;
    width: 25%;
    height: 300px;
    padding-top: 50px;
    
    
  }
  
  .column4 {
    float: left;
    width: 25%;
    height: 300px;
    padding-top: 50px;
    
    
  }
  .column4 img
  {
      height: 40px;
  }
  .column4 h4
  {
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
  }

  .column4 i
  {
      padding:15px;
      margin: 4px;
      margin-top: 20px;
      background-color: white;
  }
  .column4 i:hover
  {
      background-color: tomato;
  }


  
  
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  
  }
  .fot-cont h5
  {
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    
  }
  .fot-cont h6
  {
      padding-bottom: 16px;
      color: grey;
      font-size: 12px;
  }

  
